body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #5597AB;
}

a {
  color: #00B7FF;
}

table {
    width:100%;
	font-size: 30px;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 20px;
    text-align: center;
}
table#t01 tr:nth-child(even) {
    background-color: #fff;
}
table#t01 tr:nth-child(odd) {
   background-color:#fff;
}
table#t01 th	{
    background-color: black;
    color: white;
}
table#t02 tr:nth-child(even) {
    background-color: #fff;
}
table#t02 tr:nth-child(odd) {
   background-color:#fff;
}
table#t02 th	{
    background-color: black;
    color: white;
}

.specific_location_1, .specific_location_2, .specific_location_3, .specific_location_4{
	width: 50px;
	height: 50px;
	font-weight: bold;
	font-size: 20px;
	background-color: white;
}

.step_cnt{
	width: 200px;
	height: 50px;
	font-weight: bold;
	font-size: 30px;
	text-align: center;
}

.state{
	width: 200px;
	height: 50px;
}

.lead_specific_location_1, .lead_specific_location_2, .lead_specific_location_3, .lead_specific_location_4{
	width: 50px;
	height: 50px;
	font-weight: bold;
	font-size: 20px;
	background-color: white;
}

.lead_step_cnt{
	width: 200px;
	height: 50px;
	font-weight: bold;
	font-size: 30px;
	text-align: center;
}

.lead_ack_nack{
	width: 200px;
	height: 50px;
}

.lead_state{
	width: 200px;
	height: 50px;
}
.bt_div{
	position: relative;
	top: 30px;
}

.auto{
	width: 200px;
	height: 80px;
	font-size: 30px;
	margin-right: 20px;
	font-weight: bold;
}

.btns{
	width: 300px;
	height: 80px;
	font-size: 30px;
	font-weight: bold;
}

#info_next{
	width: 300px;
	height: 80px;
	font-size: 30px;
	margin-top: 20px;
	font-weight: bold;
}

.speed_btns_1, .speed_btns_2, .speed_btns_3, .speed_btns_4, .lead_speed_btns_1, .lead_speed_btns_2, .lead_speed_btns_3, .lead_speed_btns_4{
	width: 60px;
	height: 60px;
	margin-right: 10px;
	border: 1px;
}

#device_info{
	font: "Lucida Grande", Helvetica, Arial, sans-serif;
}